.Loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary_color);
    fill: var(--light_color);
}
.Loader.transparent {
    background-color: transparent;
    position: initial;
    fill: var(--secondary_color);
    z-index: 1;
}
.Loader svg #Text {
    transform: translateY(80px);
}
.Loader svg #logo {
    animation: circle 6s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
.Loader svg #circle {
    animation: Bump 6s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
.Loader svg #The_I {
    animation: The_I 6s linear infinite;
    transform-origin: 50% 32.7%;
}
.Loader svg .letter {
    animation: letter 6s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(0.9);
}
.Loader svg #Text > :nth-child(2) {
    animation-delay: 100ms;
}
.Loader svg #Text > :nth-child(3) {
    animation-delay: 200ms;
}
.Loader svg #Text > :nth-child(4) {
    animation-delay: 300ms;
}
.Loader svg #Text > :nth-child(5) {
    animation-delay: 400ms;
}
.Loader svg #Text > :nth-child(6) {
    animation-delay: 500ms;
}
.Loader svg #Text > :nth-child(7) {
    animation-delay: 600ms;
}
.Loader svg #Text > :nth-child(8) {
    animation-delay: 700ms;
}
.Loader svg #Text > :nth-child(9) {
    animation-delay: 800ms;
}
.Loader svg #Text > :nth-child(10) {
    animation-delay: 900ms;
}
.Loader svg #Text > :nth-child(11) {
    animation-delay: 1000ms;
}
.Loader svg #Text > :nth-child(12) {
    animation-delay: 1100ms;
}
.Loader svg {
    fill: inherit;
    width: 40%;
}
@keyframes The_I {
    25% {
        transform: scale(1);
        fill: inherit;
    }
    30% {
        transform: scale(1.35);
        fill: var(--main_color);
    }
    35% {
        transform: scale(1);
    }
    80% {
        fill: var(--main_color);
    }
    100% {
        fill: inherit;
    }
}
@keyframes circle {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(360deg);
    }
    25.001% {
        transform: rotate(0);
    }
}
@keyframes Bump {
    35.01% {
        transform: scale(1);
    }
    37.5% {
        transform: scale(1.02);
    }
    40% {
        transform: scale(1);
    }
}
@keyframes letter {
    40% {
        transform: scale(0.9);
        fill: inherit;
    }
    45% {
        transform: scale(1);
        fill: var(--main_color);
    }
    60% {
        transform: scale(0.9);
        fill: var(--main_color);
    }
    100% {
        fill: inherit;
    }
}
