.card_container {
    background-color: var(--light_color);
    padding: 2rem 2rem;
    margin: 0.5rem 0.5em;
    opacity: 1;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);

    & > svg {
        width: 8vw;
        height: 8vw;
        color: var(--secondary_color);
        margin-bottom: 1rem;
    }

    & > h1 {
        font-weight: 500;
        font-size: 2vw;
        color: var(--secondary_color);
    }

    & > h2 {
        font-weight: 400;
        font-size: 1.5vw;
        color: var(--secondary_color);
    }
}

@media screen and (max-width: 100px) {
    .card_container {
        padding: 1rem;
        margin: 1.5rem;
    }
    & > h1 {
        font-size: 3vw;
    }

    & > h2 {
        font-size: 2.5vw;
    }
}
