.card_container {
    background-color: var(--light_color);
    padding: 2rem 2rem;
    margin: 0.5rem 0.5em;
    opacity: 1;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    & > img {
        width: 10rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    & > svg {
        width: 7rem;
        height: 7rem;
        color: var(--secondary_color);
        margin-bottom: 1rem;
    }

    & > h1 {
        font-weight: 800;
        font-size: 2rem;
        text-transform: uppercase;
        white-space: nowrap;
        color: var(--secondary_color);
    }

    & > h2 {
        font-weight: 400;
        font-size: 1.4rem;
        min-width: 15ch;
        color: var(--secondary_color);
    }
}

@media screen and (max-width: 800px) {
    .card_container {
        & > img {
            width: 8rem;
        }
        & > svg {
            width: 6rem;
        }
        & > h1 {
            font-size: 1.7rem;
        }
        & > h2 {
            font-size: 1rem;
        }
    }
}
