.display_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image_bg {
  height: 50rem;
  position: relative;
  z-index: 1;
}

.content_container {
  position: absolute;
  width: 31rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(1rem);
  z-index: 2;

  & > h1 {
    color: white;
    font-weight: 400;
    font-size: 1.8rem;
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 425px) {
  .image_bg {
    min-width: 101vw;
    min-height: 101vh;
  }

  .content_container {
    width: 26rem;
  }
}