.section {
    width: 40vw;
    height: 70vh;
    padding: 15vh 5vw;
    position: relative;
}

.lineDecoration {
    height: .5vw;
    width: 100%;
    background-color: #0D1B28;
}

.lineTrophy {
    position: absolute;
    font-size: 3vw;
    top: -590%;
    right: 0;
    color: #0D1B28;
}

.sectionHeader {
    position: relative;
}

.subSectionTitle {
    font-family: roboto;
    color: #0D1B28;
    font-size: 1.4vw;
    text-transform: uppercase;
}

// Leaderboard Table
.leaderboardTable {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    font-size: .9vw;
    position: relative;
    left: -2.3vw;
}

.rowDividor {
    margin: .3vw 0;
}