.dayContainer {
    width: 100%;
    height: 100%;
    padding: .6vw 0;
}

.day {
    display: flex;
    align-items: center;
    margin: 0 1vw;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-align: left;
    text-decoration: none;
}

.dayTextExpand {
    animation: dayExpand .7s ease;
}

@keyframes dayExpand {
    0% {
        width: 0%;
        opacity: 0;
    }

    100% {
        width: fit-content;
        opacity: 1;
    }
}

.dayNumber {
    color: white;
    font-family: quicksand;
    font-size: 1.4vw;
    margin-left: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
}

.dayTitle {
    color: rgb(24, 24, 24);
    font-family: tajawal;
    line-height: 1.4vw;
    font-size: 1vw;
    margin-left: 1vw;
    white-space: nowrap;
}

@media (max-width: 500px) {
    .day {
        margin: .6rem 1vw;
    }

    .dayNumber {
        font-size: 1.4rem;
        margin-left: 1rem;
    }

    .dayTitle {
        font-size: 1rem;
        margin-left: 1rem;
        line-height: 1.4rem;
    }
}