.section {
    position: relative;
    padding: 0 12.5vw;
}

// Short Description


.title {
    font-family: Roboto;
    font-size: 3.5vw;
    margin: 0;
    color: #352E58;
    font-weight: 400;
}

.shortDescription {
    margin: 5vw 0;
}

.description {
    font-family: Roboto;
    font-size: 1.2vw;
    width: 55%;
    text-align: justify;
    margin: 0.4vw 0;
}

@media (max-width: 500px) {
    .section {
        margin: 5rem 0;
    }
    .title {
        font-size: 2.5rem;
    }
    
    .description {
        font-size: 1.15rem;
        width: 100%;
        margin: 0.4rem 0;
    }
}