.section {
    position: relative;
    border-top: 8px solid white;
    padding: 5vw 12.5vw;
    background-color: #0D1B28;
}

// Short Description


.title {
    font-family: Roboto;
    font-size: 3.5vw;
    margin: 0;
    color: white;
    font-weight: 400;
}

.shortDescription {
    color: white;
    position: relative;
    z-index: 1;
}

.description {
    font-family: Roboto;
    font-size: 1.2vw;
    width: 55%;
    text-align: justify;
    margin: 0.4vw 0;
}


// decoration
.topLeftDec {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    opacity: .15;
}

.bottomRightDec {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vw;
    opacity: .15;
}

@media (max-width: 500px) {
    .section {
        margin: 5rem 0;
    }
    .title {
        font-size: 2.5rem;
    }
    
    .description {
        font-size: 1.15rem;
        width: 100%;
        margin: 0.4rem 0;
    }
}