@media screen and (max-width: 800px) {
    .input_list {
        & > li {
            & > .field,
            & > .field:-webkit-autofill,
            & > .field:-webkit-autofill:hover,
            & > .field:-webkit-autofill:focus {
                background-color: var(--secondary_color) !important;
                color: var(--gray_color) !important;
                &:focus + .label {
                    color: var(--secondary_color) !important;
                }
            }
            & > .label {
                color: var(--dark_color);
            }
            & > .error {
                color: var(--secondary_color);
                &::before {
                    background-color: var(--secondary_color);
                    color: var(--light_color);
                }
            }
        }
    }
    .submit_button {
        &:hover {
            background-color: var(--secondary_color);
            color: var(--light_color);
        }
    }
    :global(.dark) {
        .submit_button {
            background-color: var(--dark_color1_shade);
            &:hover {
                background-color: var(--light_color);
                color: var(--dark_color1);
            }
        }
        .input_list {
            & > li {
                & > .field,
                & > .field:-webkit-autofill,
                & > .field:-webkit-autofill:hover,
                & > .field:-webkit-autofill:focus-within,
                & > .field:-webkit-autofill:focus {
                    background-color: var(--dark_color2) !important;
                    color: var(--dark_color1) !important;
                    &:focus + .label {
                        color: var(--dark_color2) !important;
                    }
                }
            }
        }
    }
}
