.leaderboardRow {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: relative;
}

.rowPosition {
    justify-self: center;
}

.rowScore {
    justify-self: center;
}

.trophy {
    position: absolute;
}