.section_container {
    min-height: 100vh;
    padding: 4vw 0;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.section_title {
    font-size: 3rem;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    margin-left: 8vw;

    &::before {
        content: "Numbers";
        display: block;
        position: absolute;
        font-size: 4rem;
        color: var(--dark_color);
        white-space: nowrap;
        opacity: 0.3;
        z-index: -1;
        right: 1ch;
        bottom: -0.5ch;
    }
    &.FR::before {
        content: "Nos chiffres";
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--secondary_color);
        z-index: 40;
        bottom: 0;
    }
}

.cards_holder {
    background-image: url("../../resources/Numbers1-min.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 35rem;
    width: 80%;
    position: relative;
    margin: auto;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.bg_image {
    position: absolute;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .cards_holder {
        width: 60%;
        & > .card_pair {
            margin-top: -3rem;
        }
    }
}
@media screen and (max-width: 500px) {
    .section_container {
        padding: 4rem 0;
    }

    .section_title {
        font-size: 3rem;
        margin-bottom: 2rem;

        &::before {
            font-size: 5rem;
        }

        &::after {
            width: 3rem;
        }
    }

    .bg_image {
        top: 5rem;
    }
    .holder_container {
        width: 100%;
        .cards_holder {
            flex-direction: column;
            width: 100%;
            & > .card_pair {
                margin-top: -3rem;
            }
        }
    }
}
