.section_container {
    min-height: 100vh;
    padding: 6rem 0 12rem;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section_title {
    font-size: 4rem;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
        content: "Numbers";
        display: block;
        position: absolute;
        font-size: 9rem;
        color: var(--dark_color);
        white-space: nowrap;
        opacity: 0.1;
        z-index: -1;
        bottom: -0.5ch;
    }
    &.FR::before {
        content: "Nos chiffres";
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--secondary_color);
        z-index: 40;
        bottom: 0;
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.cards_holder {
    background-image: url("../../resources/Numbers1-min.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    margin: 3rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
        position: absolute;
    }
    & > div:nth-child(1) {
        z-index: 5;
    }
    & > div:nth-child(2) {
        transform: translate(21rem, 17rem);
    }
    & > div:nth-child(3) {
        transform: translate(-22rem, 13rem);
    }
    & > div:nth-child(4) {
        transform: translate(18rem, -18rem);
    }
}

.bg_image {
    position: absolute;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .cards_holder {
        width: 90%;
        & > div:nth-child(2) {
            transform: translate(9rem, 18rem);
        }
        & > div:nth-child(3) {
            transform: translate(-8rem, 20rem);
        }
        & > div:nth-child(4) {
            transform: translate(5rem, -17rem);
        }
        & > div:nth-child(5) {
            transform: translate(-25rem, -32rem);
        }
    }
}
@media screen and (max-width: 500px) {
    .section_container {
        padding: 4rem 0;
    }

    .cards_holder {
        margin: 10rem 0;
    }

    .section_title {
        font-size: 3rem;
        margin-bottom: 2rem;
        &::before {
            font-size: 5rem;
        }

        &::after {
            width: 3rem;
        }
    }
}
