.title {
    font-family: "Hacked";
    text-align: left;
    font-size: 2rem;
    color: var(--white_color);
    font-weight: 400;
}

.display {
    height: 93%;
    width: 100%;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem 0;
    position: relative;
}
