.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: var(--color2);
    .title {
        font-family: "Hacked";
        margin: 1rem 0;
        white-space: nowrap;
    }
    * {
        color: var(--light_color);
        font-weight: 400;
    }
    .challenge {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            margin: 0.3rem 0;
            &.completed {
                color: var(--color1);
            }
        }
    }
    &.completed {
        background-color: var(--color1);
        * {
            color: var(--color2);
        }
    }
    &.half {
        background-color: var(--light_color);
        .title {
            color: var(--color2);
        }
        span {
            &:first-child {
                color: var(--color1);
            }
            &:last-child {
                color: var(--error_color);
            }
        }
    }
}
:global(.dark) {
    .container:not(.half):not(.completed) {
        background-color: var(--dark_color1);
    }
    .container.half {
        background-color: var(--dark_color2);
        .title {
            color: var(--dark_color1);
        }
        span {
            &:first-child {
                color: var(--dark_color1_shade);
            }
        }
    }
    .container.completed {
        background-color: var(--dark_color1_shade);
        span,
        .title {
            color: var(--light_color);
        }
    }
}
