.input_list {
    list-style: none;
    margin: 0;
    padding: 3rem 2.5rem;

    & > li {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        margin-bottom: 4.5rem;

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-size: cover;
            width: 18px;
            height: 18px;
            z-index: 2;
            transform: translateX(15px);
        }

        &:nth-child(1)::after {
            background-image: url("../../../../../../resources/Input1-min.png");
        }

        &:nth-child(2)::after {
            background-image: url("../../../../../../resources/Input2-min.png");
        }

        & > .field {
            background-color: var(--light_color);
            padding: 0.8rem 1.2rem;
            border: none;
            border-radius: 30px;
            padding-left: 3rem;

            &:focus + .label {
                color: var(--main_color);
                transform: translateY(-38px);
            }
        }

        & > .label {
            color: var(--light_color);
            position: absolute;
            z-index: 2;
            color: var(--dark_color);
            font-size: 1.1rem;
            margin-left: 3rem;
            top: 0.55rem;
            transition: all 0.1s ease;
            pointer-events: none;
        }

        & > .error {
            color: var(--light_color);
            position: absolute;
            bottom: -1.7rem;
            margin-left: 1.7rem;
            &::before {
                content: "!";
                background-color: var(--light_color);
                width: 1.2rem;
                height: 1.2rem;
                color: var(--secondary_color);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transform: translateX(-13px);
            }
        }
    }
}

.label_values {
    transform: translateY(-38px) !important;
    color: var(--main_color) !important;
}

.error_color {
    color: var(--error_color) !important;
}

.submit_button {
    background-color: var(--main_color);
    padding: 0.7rem 0;
    border: none;
    border-radius: 30px;
    color: var(--secondary_color);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: var(--light_color);
        color: var(--secondary_color);
        font-weight: 500;
    }
}
