.container {
    border-radius: 20px;
    border: 2px solid rgba($color: #352E58, $alpha: .2);
    padding: 1vw 3vw 1.1vw;
    transition: .2s ease;
    cursor: pointer;
    &:hover {
        border: 2px solid rgba($color: #352E58, $alpha: .6);
        & > .question > .expandSymbol {
            color: rgba($color: #352E58, $alpha: .6);
        }
        & > .question > .questionHolder > .questionLine {
            background-color: #60C7CD;
        }
    }
}

.question {
    font-size: 1.4vw;
    font-family: 'Roboto';
    font-weight: 200;
    color: #352E58;
    display: flex;
    justify-content: space-between;
}

.questionLine {
    width: 100%;
    height: .15vw;
    background-color: transparent;
    position: relative;
    top: .3vw;
    border-radius: 10px;
    transition: .2s ease;
}

.expandSymbol {
    color: rgba($color: #352E58, $alpha: .2);
    transition: all .5s ease;
}

.answerContainer {
    width: 60%;
    overflow: hidden;
    font-size: Roboto;
    font-size: 1vw;
    text-align: justify;
    height: inherit;
    margin: 8vw 0;
    transition: .5s ease;
}

@media (max-width: 500px) {
    .container {
        border: none;
        padding: 0;
        margin: 2rem 0;

        &:hover {
            border: none;
        }
    }

    .question {
        font-size: 1.4rem;
    }

    .questionLine {
        height: .12rem;
    }

    .answerContainer {
        width: 100%;
        margin: .5rem 0;
        font-size: 1rem;
    }
}