.story_container_outer {
    background-color: white;
    border-radius: 15px;
    margin: 3rem 3rem;
    max-height: 70%;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: calc(100% - 1rem);
        height: 4rem;
        position: absolute;
        bottom: 0;
        background-color: white;
        pointer-events: none;
    }
    & > .story_container_inner {
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 11px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: var(--dark_color);
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        & > .story {
            padding: 0 8rem 4rem 4rem;
            font-size: 1.2rem;
            // overflow: scroll;
            // height: 100%;
        }
    }
}

.title_container {
    margin: 4rem 4rem 2rem;
    & > .title_number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary_color);
        color: white;
        padding: 0 0.7rem;
        border-radius: 5px;
        font-weight: 400;
    }
    & > .title_icon {
        padding: 0.3rem 0.7rem;
    }
    & > .title {
        margin-left: 1rem;
    }
}
