$secondary_color: #0D1B28;
$main_color: #40CD7D;
$light_color: #E0E0E0;
$dark_color: #8C8C8C;

.main_container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
}

/* navigation */
.navigation {
  position: absolute;
  padding: 1vw 8vw 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $secondary_color;
  & > a {
    color: $secondary_color;
    text-decoration: none;
  }

  & > .nav {
    display: flex;
    & > .nav_social {
      display: flex;
      margin-right: 2vw;
      & > a {
        color: $secondary_color;

        &:hover {
          & > svg {
            color: $main_color;
          }
        }
      }
      & > a + a {
        margin-left: .2vw;
      }
    }

    & > svg {
      font-size: 2vw;
      transition: color .1s ease;
    }
  }
}

/* links */
.line {
  height: 2px;
  width: 4vw;
  background-color: $secondary_color;
}

.hero_nav {
  cursor: pointer;

  & > a {
    color: unset;
    text-decoration: unset;
    display: flex;
    align-items: center;
  }
  
  & > a > span {
    margin-left: 1rem;
    font-weight: 500;
    transition: all .1s ease;
  }

  &:hover {
    & > a > span {
      color: $main_color;
      // todo: add sliding green bar to Line
    }
  }
}

.first_nav {
  position: relative;
  left: 8vw;
  bottom: 5vw;
}

.second_nav {
  position: relative;
  bottom: 5vw;
  right: 8vw;
  margin-left: auto;
}

/* hero image */
.hero_image_container {
  width: 35vw;
  height: 35vw;
  margin-top: 0;
  align-self: center;
  justify-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  & > img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  & > .decoration {
    &::before {
      display: block;
      content: '';
      height: 4vw;
      width: 4vw;
      background-color: $main_color;
      position: absolute;
      z-index: 4;
      left: -15vw;
      top: 2vw;
      border-radius: 50%;
      opacity: 40%;
    }
    
    &::after {
      display: block;
      content: '';
      height: 4vw;
      width: 4vw;
      background-color: $main_color;
      position: absolute;
      z-index: 4;
      right: -17vw;
      bottom: 9vw;
      border-radius: 50%;
      opacity: 40%;
    }
  }

  &::after {
    content: 'Impact of Code';
    display: block;
    font-size: 11vw;
    white-space: nowrap;
    margin-bottom: 20vh;
    font-family: 'Open Sans';
    font-weight: 600;
    color: $secondary_color;
  }

  &::before {
    display: block;
    z-index: -2;
    content: '';
    width: 100%; 
    height: 100%;
    background-color: $main_color;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
  }

  & > .image_bottom_text {
    position: absolute;
    bottom: -6rem;
    transform: rotate(90deg);
    
    & > button {
      background-color: transparent;
      color: unset;
      border: unset;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        & > span::after {
          transition: all .1s ease;
          content: ' >';
          position: absolute;
        }
      }
    }

    & > button > div {
      width: 2rem;
      height: 1px;
    }

    & > button > span {
      white-space: nowrap;
      margin-left: .5rem;
    }
  }
}

.switch_container {
  background-color: $dark_color;
  border: none;
  height: 1.45rem;
  width: 2.8rem;
  border-radius: 50px;
  margin: .14rem 1rem;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.1);
  cursor: pointer;
}

.switch_thumb {
  height: 1rem;
  width: 1rem;
  background-color: red;
  border-radius: 50%;
  transition: 0.5s;
  position: relative;

  & > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.switch_thumb_french {
  transform: translateX(0.95rem);
  animation: fadein .5s ease-in-out;
}

@keyframes fadein {
  0% {
    & > img {
      opacity: 1; 
    }
  }
  50% {
    & > img {
      opacity: 0; 
    }
  }
  100% {
    & > img {
      opacity: 1; 
    }
  }
  
}

/* popover */

@media screen and (max-width: 425px) {
  .navigation {
    padding: 1.2rem 8vw 0;
  }

  .main_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8vh;
  }

  .hero_image_container {
    width: 13rem;
    height: 13rem;
    position: absolute;

    &::after {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  .line {
    width: 2rem;
  }
}