$main_color: #40CD7D;
$secondary_color: #0D1B28;

.main_container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
}

/* navigation */
.navigation {
  position: absolute;
  padding: 1vw 8vw 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $secondary_color;
  cursor: pointer;
  & > a {
    color: $secondary_color;
    text-decoration: none;
  }

  & > .nav {
    display: flex;
    & > .nav_social {
      display: flex;
      margin-right: 2vw;
      & > a {
        color: $secondary_color;

        &:hover {
          & > svg {
            color: $main_color;
          }
        }
      }
      & > a + a {
        margin-left: .2vw;
      }
    }

    & > svg {
      font-size: 2vw;
      transition: color .1s ease;
    }
  }
}

/* links */
.line {
  height: 2px;
  width: 4vw;
  background-color: $secondary_color;
}

.hero_nav {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  & > span {
    margin-left: 1rem;
    font-weight: 500;
    transition: all .1s ease;
  }

  &:hover {
    & > span {
      color: $main_color;
      // todo: add sliding green bar to Line
    }
  }
}

.first_nav {
  position: relative;
  left: 8vw;
  bottom: 5vw;
}

.second_nav {
  position: relative;
  bottom: 5vw;
  right: 8vw;
  margin-left: auto;
}

/* hero image */
.hero_image_container {
  width: 35vw;
  height: 35vw;
  margin-top: 0;
  align-self: center;
  justify-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  & > img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  & > .decoration {
    &::before {
      display: block;
      content: '';
      height: 4vw;
      width: 4vw;
      background-color: $main_color;
      position: absolute;
      z-index: 4;
      left: -15vw;
      top: 2vw;
      border-radius: 50%;
      opacity: 40%;
    }
    
    &::after {
      display: block;
      content: '';
      height: 4vw;
      width: 4vw;
      background-color: $main_color;
      position: absolute;
      z-index: 4;
      right: -17vw;
      bottom: 9vw;
      border-radius: 50%;
      opacity: 40%;
    }
  }

  &::after {
    content: 'Impact of Code';
    display: block;
    font-size: 11vw;
    white-space: nowrap;
    margin-bottom: 20vh;
    font-family: 'Open Sans';
    font-weight: 600;
    color: $secondary_color;
  }

  &::before {
    display: block;
    z-index: -2;
    content: '';
    width: 100%; 
    height: 100%;
    background-color: $main_color;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
  }

  & > .image_bottom_text {
    position: absolute;
    bottom: -6rem;
    transform: rotate(90deg);
    display: flex;
    align-items: center;

    & > div {
      width: 2rem;
      height: 1px;
    }

    & > span {
      white-space: nowrap;
      margin-left: .5rem;
    }
  }
}

/* popover */
.popover_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #0D1B28;
  transition: color .1s ease;

  &:hover {
    color: $main_color;
  }
}

.popover_container {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 10px;
  cursor: default;
  box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.2);
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  & > li {
    margin: .2vw 0;
  }

  /* navigation button of popover */
  .nav_button {
    background-color: transparent;
    border: none;
    display: flex;
    cursor: pointer;

    & > .nav_icon_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: 10px;
      background-color: #E0E0E0;

      & > svg {
        width: 2.5rem;
        height: 2.5rem;
        color: #8C8C8C;
      }
    }

    .nav_button_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 4rem;
      margin-left: 1.5rem;

      & > span {
        font-size: 1.1rem;
      }

      & > span:nth-child(1) {
        font-weight: 600;
      }
    }

    &:hover {
      & > .nav_icon_container {
        background-color: #40CD7D40;

        & > svg {
          color: #309A5D;
        }
      }
      
      & > .nav_button_text {
        & > span:nth-child(1) {
          color: #309A5D;
        }
      }
    }
  }

  /* signin form of popover */
  .signin_form {
    display: flex;
    flex-direction: column;
  }
}