.section {
    position: relative;
}

.title {
    font-size: 2vw;
    font-family: quicksand;
    color: #cfcfcf;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 15vw;
}

// questions
.qaList {
    width: 38%;
    margin: 3vw 0 5vw 15vw;
}

.content {
    display: flex;
    position: relative;
    z-index: 2;
}

// Imagery
.circleDec {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45vw;
}

.questionHand {
    position: absolute;
    bottom: 4vw;
    right: 7vw;
    width: 30vw;
    opacity: .7;
}

// Decoration
.twoLineDec {
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    left: -2vw;
    opacity: .15;
    width: 13vw;
}

.leftRect {
    position: absolute;
    left: 3vw;
    bottom: 30vw;
}

.rightRect {
    position: absolute;
    right: 3vw;
    bottom: 30vw;
}

@media (max-width: 500px) {
    .title {
        font-size: 2rem;
        margin: 0 7vw;
    }

    .qaList {
        margin: 3vw 7vw 5vw;
        width: 100%;
    }
}