.section {
    margin: 10vw 12.5vw;
}

.qaList {
    list-style: none;
    padding: 0;
}

.qaItem {
    margin: 0.6vw 0.2vw;
}

.title {
    font-size: 3.5vw;
    color: #352E58;
    font-family: 'Roboto';
    font-weight: 400;
}

@media (max-width: 500px) {
    .section {
        margin: 5rem 12.5vw;
    }

    .title {
        font-size: 2.25rem;
    }
}