.LogoV {
    fill: var(--color2);
    width: 13rem;
    margin: 1rem 0 -2rem 4rem;
}

.LogoV #logo {
    animation: circle 6s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
.LogoV #circle {
    animation: Bump 6s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
.LogoV #The_I {
    animation: The_I 6s linear infinite;
    transform-box: fill-box;
    transform-origin: 50% 32.7%;
}
.LogoV .letter {
    animation: letter 6s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(0.9);
}

.LogoV #Text > :nth-child(2) {
    animation-delay: 100ms;
}
.LogoV #Text > :nth-child(3) {
    animation-delay: 200ms;
}
.LogoV #Text > :nth-child(4) {
    animation-delay: 300ms;
}
.LogoV #Text > :nth-child(5) {
    animation-delay: 400ms;
}
.LogoV #Text > :nth-child(6) {
    animation-delay: 500ms;
}
.LogoV #Text > :nth-child(7) {
    animation-delay: 600ms;
}
.LogoV #Text > :nth-child(8) {
    animation-delay: 700ms;
}
.LogoV #Text > :nth-child(9) {
    animation-delay: 800ms;
}
.LogoV #Text > :nth-child(10) {
    animation-delay: 900ms;
}
.LogoV #Text > :nth-child(11) {
    animation-delay: 1000ms;
}
.LogoV #Text > :nth-child(12) {
    animation-delay: 1100ms;
}
@media (max-width: 600px) {
    .LogoV #Text {
        display: none;
    }
}
