.about_container {
    display: flex;
    flex-direction: column;

    & > .top_section {
        padding: 7rem 0;
        min-height: 80vh;
        display: flex;
        text-align: center;
        flex-direction: column;
        & > p {
            margin: 3rem auto;
            width: 80vw;
            max-width: 50rem;
        }
    }

    & > .bottom_section {
        min-height: 100vh;
        background-color: currentColor;
        display: flex;
        flex-direction: column;
        & > .info_box {
            display: flex;
            position: relative;
            background-color: var(--color1);
            padding: 4rem 10vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 2.5rem 0 2.5rem auto;
            width: 80%;
            max-width: 60rem;
            text-align: center;
            overflow: hidden;
            &::before,
            &::after {
                content: " ";
                position: absolute;
                background-color: currentColor;
                border-radius: 50%;
            }
            &::before {
                width: 12rem;
                height: 12rem;
                bottom: -6rem;
                left: -8rem;
            }
            &::after {
                width: 12rem;
                height: 12rem;
                top: -6rem;
                right: -8rem;
            }
            & > h2 {
                margin-bottom: 2rem;
            }
            &:nth-child(even) {
                margin-right: auto;
                margin-left: 0;
                &::before {
                    left: unset;
                    right: -8rem;
                }
                &::after {
                    right: unset;
                    left: -8rem;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .about_container > .bottom_section {
        background-color: unset;
        .info_box {
            width: 100%;
            padding: 5rem 10vw;
            margin: -1px 0 0;
        }
    }
}
:global(.dark) {
    .about_container {
        & > .bottom_section {
            & > .info_box {
                background-color: var(--dark_color1);
            }
            p,
            h1 {
                color: var(--white_color);
            }
        }
    }
}
