.about_container {
    display: flex;
    width: 100%;
    justify-content: center;
    // min-height: 70vh;

    & > .left_section {
        padding: 12rem 0 16rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .section_title {
            font-size: 4rem;
            margin: 0 0 2rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                content: "The Event";
                display: block;
                position: absolute;
                font-size: 9rem;
                color: var(--dark_color);
                opacity: 0.1;
                z-index: -1;
                bottom: -0.5ch;
                white-space: nowrap;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: var(--secondary_color);
                z-index: 40;
                left: 0;
                bottom: 0;
            }
            &.FR::before {
                content: "L'événement";
            }
        }

        & > p {
            font-size: 1.4rem;
            text-align: center;
        }
    }
}
@media screen and (max-width: 1000px) {
    .about_container {
        .left_section {
            width: 70%;
            & > p {
                font-size: 1.1rem;
            }
        }
    }
}
