.sectionContainer {
    margin-left: 2vw;
    width: 48vw;
    animation: appear .6s ease;
    min-height: 100vh;
    position: relative;
    margin-bottom: 10vw;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sectionTitle {
    text-transform: uppercase;
    font-size: 3vw;
    font-family: quicksand;
}

.answer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-bottom: 1vw;
}

// .answerFormHolder {
//     width: 100%;
//     position: relative;
// }

.answerLabel {
    font-family: roboto;
    color: #0D1B28;

}

.answerForm {
    width: 100%;
    position: relative;
    // display: flex;
    // justify-content: space-between;
}

.submittingIndicatorContainer {
    position: absolute;
    top: -3.5%;
    left: -2.5%;
    width: 110%;
    height: 120%;
    z-index: 108;
    background-color: #00000060;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .spinner {
        color: #0D1B28;
        font-size: 1.6vw;
        margin-right: .8vw;
        animation: spin 2s linear infinite;
    }

    & > .indicatorText {
        font-family: roboto;
        color: #0D1B28;
        font-size: 1.2vw;
        text-transform: capitalize;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.answerInputHolder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.wrongAnswerMessage {
    position: absolute;
    right: 17%;
    top: 0;
    font-family: roboto;
    font-size: .9vw;
    color: red;
}

.answerInput {
    width: 80%;
    border: none;
    border-bottom: 1px solid #0D1B28;
    border-radius: 0;
    background-color: #00000007;
    padding: .3vw .8vw;
    font-family: roboto;
    color: #0D1B28;
    resize: none;
    font-size: .9vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all .4s ease;
    min-height: 1.5vw;

    &::-webkit-scrollbar {
        display: none;
    }
}

.answerInputHeightCalc {
    width: 80%;
    position: absolute;
    bottom: 0;
    height: fit-content;
    white-space: pre-wrap;
    overflow: hidden;
    display: block;
    font-family: roboto;
    font-size: .9vw;
    padding: .3vw .8vw;
    overflow-wrap: break-word;
    max-height: 10vw;
    min-height: 1.5vw;
    visibility: hidden;
    border-bottom: 1px solid #0D1B28;
}

.answerSubmitButton {
    font-family: roboto;
    padding: .3vw .8vw;
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0D1B28;
    cursor: pointer;
    transition: .1s ease;
    height: fit-content;

    &:hover {
        border: none;
        background-color: #0D1B28;
        color: white;
    }

}