.display_container {
  height: 100%;
  width: 100%;
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 40rem;
    width: calc(40rem * 0.908315565);
    background-image: url('../../../../resources/HeroImage-min.png');
    background-size: cover;
    position: absolute;
    transform: translate(-8px, -200px);
  }
}

.image_bg {
  height: 50rem;
  position: relative;
  z-index: 1;
}

.content_container {
  position: absolute;
  width: 31rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(8rem);
  z-index: 2;

  & > h1 {
    color: white;
    font-weight: 400;
    font-size: 1.8rem;
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 425px) {
  .image_bg {
    min-width: 104vw;
    min-height: 101vh;
  }

  .content_container {
    width: 25rem;
  }
}