.row {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 2fr;
    grid-gap: .5vw;
    justify-items: center;

    & > *:nth-child(2) {
        justify-self: left;
    }
}

.tableHead {
    font-family: tajawal;
    line-height: 1.4vw;
    color: #B7BBBF;
    justify-self: center;
    white-space: nowrap;
}

@media (max-width: 500px) {
    .row {
        grid-template-columns: 1fr 4fr 1fr 2fr;
        font-size: .9rem;
    }
}