$main_color: #40CD7D;
$secondary_color: #0D1B28;

.question_container {
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;
  width: 50vw;
  position: relative;
}

.asker {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .asker_icon {
    padding: 2rem;
    border: 2px solid $secondary_color;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 50%;
    margin-bottom: .5rem;

    & > span {
      position: absolute;
      font-size: 2rem;
    }
  }
}

.question {
  margin: 0 0 0 2rem;
  background-color: #40CD7D;
  border-radius: 15px;
  padding: 2rem 3rem;
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: $secondary_color;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .question_container {
    width: 85vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .asker {
    margin-bottom: 1rem;
  }

  .question {
    margin: 0;
  }
}