.sectionContainer {
    background-color: #0D1B28;
    display: flex;
    height: 100vh;
    width: 50vw;
}

.navigation {
    min-width: 10vw;
    margin: 8vw 2vw;
}

// Navigation header

.navigationHeader {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navigationHeaderImage {
    width: 4vw;
}

.navigationHeaderTitle {
    font-family: roboto;
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
    margin-left: 1vw;
}

// Navigation list

.navigationListContainer {
    margin: 2vw 0;
}

.navigationList {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
        margin: .3vw 0;
    }
}

.navigationListLink {
    font-family: roboto;
    font-size: .9vw;
    color: white;
    text-decoration: none;
    position: relative;

    &:hover {
        &::before {
            content: '> ';
            font-family: roboto;
            display: block;
            position: absolute;
            left: -1vw;
        }
    }
}

// Section
.sectionTitle {
    color: white;
    font-family: roboto;
    font-size: 3vw;
    font-weight: 400;
    margin: 2vw 0 0;
}

// Table of completion
.completionContainer {
    color: white;
    margin-top: 2.6vw;
}

.subSectionTitle {
    font-family: roboto;
    font-weight: 400;
    font-size: 1.4vw;
    color: white;
    text-transform: uppercase;
}

// Table
.table {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -4%;
    width: 93%;
}

.tableName {
    justify-self: left;
}

.rowSeparator {
    margin: 0.3vw 0;
}

.rowTotal {
    display: flex;
    align-items: center;
    font-family: roboto;
    position: absolute;
    right: 2.9vw;
    bottom: -1.2vw;
}

.rowTotalTitle {
    font-family: roboto;
    font-size: .9vw;
    color: #ffffff70;
}

.rowTotalScore {
    margin-left: 2.8vw;
}

// Acount Info Container
.accountInfoContainer {
    margin: 4vw 0 0;
}

.accountInfoModule {
    margin: 1vw 0;
    font-family: roboto;
}

.accountInfoModuleTitle {
    color: #ffffff70;
    font-size: .9vw;
}

.accountInfoModuleData {
    color: white;
    font-size: 1vw;
    padding: .8vw 1vw;
    background-color: #1D3245;
    border-radius: 15px;
    margin-top: .5vw;
    width: 80%;
}

@media (max-width: 500px) {
    .sectionContainer {
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }

    .navigation {
        max-width: 100vw;
        margin: 2rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigationHeaderImage {
        width: 4rem;
    }

    .navigationHeaderTitle {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .navigationListContainer {
        margin: 0;
    }

    .navigationList {
        display: flex;
        margin-bottom: .1rem;
        margin-left: 4rem;
    }

    .navigationListLink {
        font-size: .9rem;
        margin: 0 .5rem;
    }

    // Main
    .main {
        margin: 1rem 2rem;
    }

    .sectionTitle {
        font-size: 2.4rem;
    }

    .subSectionTitle {
        font-size: 1rem;
    }

    .completionContainer {
        margin-top: 2rem;
    }

    .table {
        width: 100%;
    }

    .rowTotal {
        right: 2.3rem;
        bottom: -1.3rem;
    }

    .rowTotalTitle {
        font-size: .9rem;
    }

    .rowTotalScore {
        margin-left: 2rem;
    }

    // Account info container
    .accountInfoContainer {
        margin: 3.5rem 0 3rem;
    }

    .accountInfoModule {
        margin: 1rem 0;
    }

    .accountInfoModuleTitle {
        font-size: .9rem;
    }

    .accountInfoModuleData {
        font-size: 1rem;
        padding: .6rem 1rem;
        margin-top: .5rem;
    }
}