.navBar {
    position: absolute;
    top: 1vw;
    left: 14vw;
    z-index: 5;
}

.navList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    & > li {
        padding: 0 1vw;

        &:nth-of-type(1) {
            padding-left: 0;
        }
    }
}

.logo {
    width: 5vw;
    height: auto;
}

.navLink {
    & > button {
        background-color: transparent;   
        border: none;
        font-family: tajawal;
        line-height: 1.4vw;
        color: white;
        font-size: 1vw;
        cursor: pointer;
        transition: all .2s ease;
    }

    & > button:hover {
        color: #AAAAAA;
    }
}


.navLinkButton {
    background-color: transparent;   
    border: none;
    font-size: 1vw;
    border: 2px solid white;
    padding: .2vw .8vw;
    cursor: pointer;
    transition: all .2s ease;
    font-family: tajawal;
    line-height: 1.4vw;
    text-decoration: none;
    color: white;
    
    &:hover {
        text-decoration: none;
        transition: all .2s ease;
        color: #AAAAAA;
        border-color: #AAAAAA;
    }

}

.footerBar {
    padding: .6vw 0 .8vw;
    border-top: 2px solid #cfcfcf;
    background-color: #0D131B;
    position: relative;
    z-index: 5;
}

.footerContent {
    margin: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerSocial {
    justify-self: flex-end;
    & > a {
        padding: .8vw .4vw;

        &:hover > * {
            color: #5B7E78;
        }
    }
}


.footerIcon {
    font-size: 1.2vw;
    color: #AAAAAA;
    transition: .2s ease;
}

.footerLink {
    color: #AAAAAA;
    font-family: tajawal;
    line-height: 1.4vw;
    text-decoration: none;
    padding: .8vw 0;
    margin-right: 1vw;
    transition: .2s ease;
    white-space: nowrap;
    &:hover {
        color: #5B7E78;
    }
}

@media (max-width: 500px) {
    .navBar {
        top: 2rem;
        left: 7vw;
    }

    .logo {
        width: 6rem;
    }

    .footerSocial {
        & > a {
            padding: .8rem .4rem;

            &:nth-last-of-type(1) {
                padding-right: 0;
            }
        }
    }

    .footerContent {
        margin: .8rem 7vw;
    }

    .footerLink {
        font-size: 1rem;
        padding: .8rem .6rem;

        &:nth-of-type(1) {
            padding-left: 0;
        }
    }

    .footerIcon {
        font-size: 1.3rem;
    }
}