.navBar {
    position: absolute;
    top: 1vw;
    left: 12vw;
}

.navList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    & > li {
        padding: 0 1vw;
    }
}

.logo {
    width: 5vw;
    height: auto;
}

.navLink {
    & > button {
        background-color: transparent;   
        border: none;
        font-family: Roboto;
        color: white;
        font-size: 1vw;
        cursor: pointer;
        transition: all .2s ease;
    }

    & > button:hover {
        color: #98CD8B;
    }
}


.navLinkButton {
    background-color: transparent;   
    border: none;
    font-size: 1vw;
    border: 2px solid white;
    padding: .2vw .8vw;
    cursor: pointer;
    transition: all .2s ease;
    font-family: roboto;
    text-decoration: none;
    color: white;
    
    &:hover {
        font-family: Roboto;
        text-decoration: none;
        transition: all .2s ease;
        color: #98CD8B;
        border-color: #98CD8B;
    }

}

.footerBar {
    padding: .6vw 1vw;
    border-top: 2px solid #60C7CD;
}

.footerContent {
    margin: 0 12.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerSocial {
    justify-self: flex-end;
    & > a {
        padding: .8vw .4vw;

        &:hover > * {
            color: #60C7CD;
        }
    }
}


.footerIcon {
    font-size: 1.2vw;
    color: #AAAAAA;
    transition: .2s ease;
}

.footerLink {
    color: #AAAAAA;
    font-family: 'Roboto';
    text-decoration: none;
    padding: .8vw .6vw;
    transition: .2s ease;
    &:hover {
        color: #60C7CD;
    }
}

@media (max-width: 500px) {
    .navBar {
        top: 2rem;
    }

    .logo {
        width: 6rem;
    }

    .footerContent {
        margin: .8rem 12.5vw;
    }

    .footerLink {
        font-size: 1rem;
        padding: .8rem .6rem;
    }

    .footerIcon {
        font-size: 1.3rem;
    }
}