.navBar {
    position: absolute;
    top: 1vw;
    left: 12vw;
}

.navList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    & > li {
        padding: 0 1vw;
    }
}

.logo {
    width: 5vw;
    height: auto;
}

.navLink {
    & > button {
        background-color: transparent;   
        border: none;
        font-family: Roboto;
        color: white;
        font-size: 1vw;
        cursor: pointer;
        transition: all .2s ease;
    }

    & > button:hover {
        color: #98CD8B;
    }
}


.navLinkButton {
    background-color: transparent;   
    border: none;
    font-size: 1vw;
    border: 2px solid white;
    padding: .2vw .8vw;
    cursor: pointer;
    transition: all .2s ease;
    font-family: roboto;
    text-decoration: none;
    color: white;
    
    &:hover {
        font-family: Roboto;
        text-decoration: none;
        transition: all .2s ease;
        color: #98CD8B;
        border-color: #98CD8B;
    }

}

.footerBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6vw 1vw;
    margin-top: 2vw;
    border-top: 2px solid #60C7CD;
}

.footerSocial {
    justify-self: flex-end;
    & > a {
        padding: .8vw .4vw;

        &:hover > * {
            color: #60C7CD;
        }
    }
    & > a > * {
        font-size: 1.2vw;
        color: #AAAAAA;
        transition: .2s ease;
    }
}

.footerLinks {
    & > a {
        color: #AAAAAA;
        font-family: 'Roboto';
        text-decoration: none;
        padding: .8vw .6vw;
        transition: .2s ease;
        &:hover {
            color: #60C7CD;
        }
    }
}