.container {
    width: 100%;
    background-color: #6D7D7E;
    margin: 5vw 0;
    border-radius: 30px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    width: fit-content;
}

.infoText {
    width: 50%;
}

.titleContainer {
    background-color: #A4D498;
    padding: 0.2vw 0.8vw;
    width: fit-content;
}

.title {
    font-family: overseer;
    font-size: 2.4vw;
    // color: #6D7D7E;
    color: rgba($color: #ffffff, $alpha: .9);
    letter-spacing: .06vw;
    margin: 0;
}

.description {
    font-family: Roboto;
    font-size: 1.1vw;
    margin-left: .2vw;
    color: white;
    text-align: justify;
    width: 90%;
}

.imageContainer {
    height: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image {
    max-height: 70%;
    max-width: 20vw;
}