.quote {
    font-style: italic;
}
.morceaupapier {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    display: block;
    position: relative;
    padding: 40px 60px;
    max-width: 800px;
    width: 70%;
    margin: 16px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
    background-color: var(--color1);
}
.dark .morceaupapier {
    background-color: var(--dark_color1);
    color: var(--white_color) !important;
    * {
        color: var(--white_color) !important;
    }
}
.dots {
    font-weight: 550;
}

.MIoc {
    float: right;
    color: var(--color1) !important;
    text-indent: 5em;
    transform: skewX(-10deg);
    font-weight: 600;
}
.bold {
    font-weight: 600;
}
.green {
    color: var(--color1) !important;
    font-weight: 600;
}
.dark .green {
    color: var(--dark_color2) !important;
}
.yellow {
    color: var(--dark_color2) !important;
}
.dark .yellow {
    color: var(--color1) !important;
}
.long {
    word-break: break-all;
}
.cadreinstrucation {
    box-shadow: 1px 1px 6px 0px #000000;
    padding: 10px;
    border-radius: 10px;
    background: var(--color1) !important;
    color: white !important;
}
.cadreinstrucation li {
    list-style: "➼ ";
}
.red {
    color: red;
}

@media screen and (max-width: 650px) {
    .morceaupapier {
        width: 130%;
        transform: translateX(-15%);
        padding: 1rem 3rem;
        font-size: 1em;
    }
}

@media screen and (max-width: 500px) {
    .morceaupapier {
        padding: 1rem 0.5rem;
    }
}


body.dark ul.cadreinstrucation {
    background-color: var(--dark_color1) !important;
    box-shadow: 1px 1px 6px 0px #000000;
}
body.dark ul.cadreinstrucation * {
    color: white !important;
}

body.dark .yellow {
    color: white !important;
}

body.dark .green {
    color: var(--dark_color2) !important;
}