/* LIST STYLE START */
.input_list {
    list-style: none;
    margin: 0;
    padding: 1.5rem 0 0.5rem;
    overflow: auto;
    & > li.email::after {
        background-image: url("./resources/Input1-min.png");
    }

    & > li.userName::after {
        background-image: url("./resources/Input3-min.png");
    }

    & > li.password::after {
        background-image: url("./resources/Input2-min.png");
    }
    & > li {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        margin-bottom: 3.2rem;

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-size: cover;
            top: 0.85rem;
            width: 18px;
            height: 18px;
            z-index: 2;
            transform: translateX(15px);
        }

        & > .field,
        & > .field:-webkit-autofill,
        & > .field:-webkit-autofill:hover,
        & > .field:-webkit-autofill:focus {
            background-color: var(--light_color) !important;
            padding: 0.8rem 1.2rem;
            border: none;
            border-radius: 30px;
            padding-left: 3rem;
            font-size: 1rem;
            font-weight: 800 !important;
            color: var(--main_color) !important;
            box-shadow: 1px 1px 9px -3px var(--secondary_color) !important;
            &:focus + .label {
                color: var(--color1) !important;
                text-shadow: 1px 1px 2px var(--color2);
                transform: translateY(-38px);
            }
        }

        & > .label {
            position: absolute;
            z-index: 2;
            color: var(--dark_color);
            font-size: 1.1rem;
            font-weight: 800 !important;
            margin-left: 3rem;
            top: 0.85rem;
            transition: all 0.1s ease;
            pointer-events: none;
        }

        & > .error {
            color: var(--light_color);
            position: absolute;
            bottom: -1.7rem;
            margin-left: 1.7rem;
            &::before {
                content: "!";
                background-color: var(--light_color);
                width: 1.2rem;
                height: 1.2rem;
                color: var(--secondary_color);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transform: translateX(-13px);
            }
        }
    }
}

.label_values {
    transform: translateY(-38px) !important;
    color: var(--main_color) !important;
    text-shadow: 1px 1px 2px var(--secondary_color);
}

.error_color {
    color: var(--error_color) !important;
}

.submit_button {
    background-color: var(--color1);
    padding: 0.7rem 0;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: var(--secondary_color);
    font-size: 1.3rem;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px -3px currentColor;
    z-index: 2;
    &:hover {
        background-color: var(--light_color);
    }
}

.dark {
    .submit_button {
        background-color: var(--dark_color1_shade);
        &:hover {
            background-color: var(--light_color);
            color: var(--dark_color1);
        }
    }
    .input_list {
        & > li {
            & > .field,
            & > .field:-webkit-autofill,
            & > .field:-webkit-autofill:hover,
            & > .field:-webkit-autofill:focus {
                color: var(--dark_color1) !important;
                &:focus + .label {
                    color: var(--dark_color1) !important;
                }
            }
            & > .label {
                color: var(--dark_color1);
            }
            & > .error {
                color: var(--dark_color1);
                &::before {
                    background-color: var(--dark_color1);
                    color: var(--light_color);
                }
            }
        }
    }
}

.container .input_list {
    margin: 0 2rem;
    & > li {
        margin-bottom: 3.7rem;
    }
}
/* LIST STYLE END */
