.row {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 2fr;
    grid-gap: .5vw;
    font-size: .9vw;
    justify-items: center;
    align-items: center;
    font-family: roboto;
    font-weight: 400;

    & > *:nth-child(2) {
        justify-self: left;
    }
}

.icon {
    width: 1.2vw;
}

@media (max-width: 500px) {
    .row {
        font-size: 1rem;
        grid-template-columns: 1fr 4fr 1fr 2fr;
    }

    .icon {
        width: 1.1rem;
    }
}