.title {
    font-family: "Hacked";
    font-size: 2rem;
    text-align: left;
    color: var(--secondary_color);
    font-weight: 400;
}

.days {
    overflow: auto;
    padding: 0 1rem;
    margin: 1rem 0 2rem;
}
.total,
.points {
    font-family: "Hacked";
    font-size: 1.7rem;
}

.points {
    color: var(--main_color);
}
